@import "tailwindcss";

@theme {
  --color-primary: #4F46E5; /* Indigo 600 */
  --color-primary-light: #818CF8; /* Indigo 400 */
  --color-secondary: #0D9488; /* Teal 600 */
  --color-accent: #FEF08A; /* Yellow 200 */
  --color-bg-light: #F0FDF4; /* Green 50 */
  --color-bg-base: #F8FAFC; /* Slate 50 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
  }
}
